*{
    margin: 0;
    padding: 0;

}

.main-header {
    background-color:rgb(207, 107, 25) ;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    height: 150px;
   
}

h1{
    color:azure;
    text-decoration: none;
    font-size:  40px;;

}

.cuadro-1{
    height: 200px;
    background-color: aqua;
}
.cuadro-2{
    height: 200px;
    background-color: rgb(34, 177, 58);
}